-# .page-header
-#   = link_to edit_restaurant_path(@restaurant), class: 'btn btn-primary' do
-#     %span.glyphicon.glyphicon-pencil
-#     Edit
-#   %h1
-#     = @restaurant.name

%img#bg{:alt => "https://upload.wikimedia.org/wikipedia/commons/6/66/Saint_Petersburg_Florida_at_Night_from_McNulty_Lofts.png", :src => "https://upload.wikimedia.org/wikipedia/commons/6/66/Saint_Petersburg_Florida_at_Night_from_McNulty_Lofts.png"}/

.col-md-6.restaurant-listing
  = image_tag attachment_url(@restaurant.photos.first, :image), class: 'img-responsive'

.col-md-6.restaurant-listing
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "350", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyAEAQx4ZKhZcj8im25XgbVfOuxvBaJ9Rr4&q=#{@restaurant.address}", :style => "border:0", :width => "500"}

.col-md-7.col-sm-12.restaurant-listing
  %h1
    = @restaurant.name
  %p
    Phone:
    = @restaurant.phone
  %p
    Price:
    = price_as_dollarsigns(@restaurant.price)
  %p
    Website:
    = @restaurant.website
  %p
    Hours:
    = @restaurant.hours
  %p
    Cuisine:
    = @restaurant.cuisine
  %p
    = link_to edit_restaurant_path(@restaurant), class: 'btn btn-default btn-edit' do
      %span.glyphicon.glyphicon-pencil
      Edit
